
<div class="row h-100 w-100 justify-content-center align-items-center m-0 p-0 about-page">
  <div class="col-md-8 col-xl-6 col-xxl-4">
    <div class="card bg-light">
      <div class="card-body ">
        <h1 class="card-title text-primary font-Fantasy fw-bold">About The Trainer</h1>
        <p>
          Hey, My name is Teri the trainer.
          <br/>
          Wellcom to my app.
          <br/>
          My specialty is coaching individuals basketball.
          <br/>For more information<br/>
          Contact me in : 050-1234-567
          <br/>
          Teri.
          </p> 
      </div>
    </div>
  </div>
</div>


